<h1 class="s-main-title">Classifier Training</h1>
<section class="c-training__movement-wrapper l-grid l-grid--style">
    <button class="c-training__movement-type"
            (click)="setMovementType(MovementTypeList.STANDING)"
            [ngClass]="{'is-active': movementType === MovementTypeList.STANDING}">
        <img class="c-training__movement-type-image"
             alt="standing-movement"
             [src]="getPathToIcon('standing')">
        <p class="c-training__movement-type-title">Standing</p>
    </button>
    <!-- /.c-training__movement-type -->
    <button class="c-training__movement-type"
            (click)="setMovementType(MovementTypeList.WALKING)"
            [ngClass]="{'is-active': movementType === MovementTypeList.WALKING}">
        <img class="c-training__movement-type-image"
             alt="walking-movement"
             [src]="getPathToIcon('walking')">
        <p class="c-training__movement-type-title">Walking</p>
    </button>
    <!-- /.c-training__movement-type -->
    <button class="c-training__movement-type"
            (click)="setMovementType(MovementTypeList.SITTING)"
            [ngClass]="{'is-active': movementType === MovementTypeList.SITTING}">
        <img class="c-training__movement-type-image"
             alt="walking-movement"
             [src]="getPathToIcon('sitting')">
        <p class="c-training__movement-type-title">Sitting</p>
    </button>
    <!-- /.c-training__movement-type -->
    <button class="c-training__movement-type"
            (click)="setMovementType(MovementTypeList.JUMPING)"
            [ngClass]="{'is-active': movementType === MovementTypeList.JUMPING}">
        <img class="c-training__movement-type-image"
             alt="walking-movement"
             [src]="getPathToIcon('jumping')">
        <p class="c-training__movement-type-title">Jumping</p>
    </button>
    <!-- /.c-training__movement-type -->
</section>
<!-- /.c-training__movement-wrapper -->
<p class="c-training__current-movement">Current movement:
    <span class="c-training__current-movement-type" *ngIf="movementType; else defaultMovement">{{ movementType }}</span>
    <ng-template #defaultMovement>
        <span class="c-training__current-movement-type">{{ defaultMovementType }}</span>
    </ng-template>
</p>
<section>
    <h3 class="c-training__collect-title">Collect data section</h3>

    <div class="c-training__time-wrapper">
        <p class="c-training__time">{{ ticks }}</p>
        <div class="c-training__time-animate"
             *ngIf="trainingState === TrainingStateList.CAPTURING"></div>
    </div>


    <div class="c-training__collect-button-wrapper">
        <button (click)="captureMovement()" class="c-training__collect-button c-training__collect-button--capture"
                *ngIf="trainingState !== TrainingStateList.CAPTURING">
            Capture
        </button>

        <button (click)="removeData()" class="c-training__collect-button c-training__collect-button--remove"
                *ngIf="trainingState === TrainingStateList.STOPPED">
            <img class="c-training__collect-icon c-training__collect-icon--remove"
                 src="../../../assets/images/training/remove.svg" alt="remove">
        </button>

        <button (click)="stop()" class="c-training__collect-button c-training__collect-button--stop"
                *ngIf="trainingState === TrainingStateList.CAPTURING">
            Stop
        </button>
    </div>


    <button (click)="send()" class="c-training__collect-button c-training__collect-button--save"
            *ngIf="trainingState === TrainingStateList.STOPPED && trainData.length > 0">
        <img class="c-training__collect-icon" src="../../../assets/images/training/cloud.svg" alt="send">
        Save data to DB
    </button>

    <div class="c-training__response"
         *ngIf="response.type === TrainingResponseList.DATA">Saved: {{ response.data }} records</div>
</section>
<section>

    <h3 class="c-training__collect-title">Train section</h3>

    <button (click)="train()" class="c-training__collect-button c-training__collect-button--train">
        <img class="c-training__collect-icon" src="../../../assets/images/training/train.svg" alt="train">
        Train network
    </button>

    <a routerLink="/admin/chart-data" class="c-training__charts">
        Data charts
    </a>

</section>

