.c-training__movement-wrapper {
    display: flex;
    justify-content: space-between;
}

.c-training__movement-type {
    display: inline-block;
    position: relative;
    width: 45%;
    padding: 0.4rem;
    margin-bottom: 0.6em;
    background: #ffffff;
    box-shadow: 0 0 15px 1px #ececec;
    border-radius: 14px;
    border: 2px solid transparent;

    &.is-active {
        box-shadow: none;
        border: 2px solid var(--t-sub-title);
    }

    &-image {
        width: 50%;
    }

    &-title {
        margin: 0;
        color: var(--t-sub-title);
    }
}

.c-training__current-movement {
    margin: 0;

    &-type {
        text-transform: capitalize;
    }
}

.c-training {
    &__time {
        margin-top: 0.3rem;
        text-align: center;
    }

    &__response {
        margin-left: 0.2rem;
    }

    &__collect-title {
        margin-bottom: 0.4rem;
    }

    &__collect-icon {
        width: 30px;
        vertical-align: -48%;
    }

    &__collect-button {
        padding: 0.22rem 0.8rem 0.22rem 0.25rem;
        border: 1px solid #ececec;
        background: transparent;
        border-radius: 20px;

        &--remove {
            padding: 0.22rem 0.25rem;
        }

        &--train {
            padding: 0.22rem 0.8rem 0.22rem 0.75rem;
            vertical-align: bottom;
        }

        &--save {
            margin-top: 0.6rem;
        }

        &--chart {
            display: inline-block;
            padding: 0.22rem 0.55rem 0.22rem 0.85rem;
            text-decoration: none;
        }
    }
}
