<h1 class="s-main-title">Choose the mode</h1>
<div>
    <a class="c-mode__link c-mode__link--first" routerLink="/recognition">
        <img class="c-mode__image" src="../../assets/images/mode/strategy.svg" alt="mode-image">
        <p class="c-mode__title">Recognize movements</p>
    </a>
    <!-- /.c-mode__link -->
    <a class="c-mode__link" routerLink="/signin">
        <img class="c-mode__image" src="../../assets/images/mode/network.svg" alt="mode-image">
        <p class="c-mode__title">Classifier training</p>
    </a>
    <!-- /.c-mode__link -->
</div>


