.c-mode__link {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--t-main-title);
    box-shadow: 0 0 8px 2px #e8e8e8;
    border-radius: 20px;

    &--first {
         margin-bottom: 1rem;
    }
}

.c-mode__image {
    width: 40%;
}

.c-mode__title {
    margin: 0;
    font-size: 1.35rem;
}
