:root {
    --gutter: 1rem;
    --button-action-green-background: #cff5f2;
    --button-action-green-border: #57aba3;
    --button-action-red-background: #fddddd;
    --button-action-red-border: #af5f5e;
    --link: #3c93ce;
}

/* Man theme */
.t-pink {
    --t-background: #ffe1f8;
    --t-main-title: #dfa9d1;
    --t-sub-title: #dcb0d1;
}

/* Woman theme */
.t-blue {
    --t-background: #cce6ff;
    --t-main-title: #7f9fd2;
    --t-sub-title: #95b2e0;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    :root {
        --gutter: auto;
    }
}

@media (min-width: 1200px) {

}
